#footer{
    background-color: #00857F;
    color: white;
    padding: 3rem;
    text-align: center;
    padding-bottom: 9rem;

}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;
    padding: 2rem;
}

.icon a{
    color:white;
    font-size: 3rem;
}

@media screen and (max-width:600px) {
    #footer{
        font-size: 13px;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:2rem;
        padding: 2rem;
    }
}