nav{
    background-color: rgba(0, 0, 0, 0.671);
    width: max-content;
    display:block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position:fixed;
    display:flex;
    gap:1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    left:50%;
    transform: translateX(-50%);
    bottom:1.6rem;
}
nav a{
    background: transparent;
    padding:1rem 1.3rem;
    color: #ffff;
    font-size:1.1rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
nav a:hover{
    background: rgb(0,0,0,0.3);
}

nav a.active{
    background: rgb(0,0,0,0.5);
}

@media screen and (max-width:800px) {
    nav{
    gap:1rem
}
    
}
@media screen and (max-width:600px) {
    nav{
    gap:0.5rem;
}
    
}

@media screen and (max-width:400px) {
    nav{
    gap:0.1rem;
}
    
}